news-ai-agent/AI_News_Agent_First_Workshop.json
{
  "name": "AI News Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        760
      ],
      "id": "76091934-44f6-4d3e-b93a-fbe752dcc94d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -420
      ],
      "id": "d5d765b8-1b13-4361-a6b8-2c4f7c212524",
      "name": "When chat message received",
      "webhookId": "d2d4f9eb-8605-4579-9b0f-4e2c2e94a9f6"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a helpful assistant who helps users manage their RSS feeds, YouTube channels, and research topics in their DB. Users will ask you to view, update, create, and delete each of these from their respective tables. Here are the schemas for each table so you understand how to insert/update records:\n\n-- RSS Feeds Table\nCREATE TABLE rss_feeds (\n    id SERIAL PRIMARY KEY,\n    name VARCHAR(255) NOT NULL,\n    url VARCHAR(500) NOT NULL UNIQUE,\n    description TEXT,\n    is_active BOOLEAN DEFAULT true,\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\n-- YouTube Channels Table\nCREATE TABLE youtube_channels (\n    id SERIAL PRIMARY KEY,\n    channel_name VARCHAR(255) NOT NULL,\n    channel_url VARCHAR(500) NOT NULL UNIQUE,\n    channel_id VARCHAR(100), -- YouTube channel ID for API calls\n    description TEXT,\n    is_active BOOLEAN DEFAULT true,\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\n-- Research Topics Table\nCREATE TABLE research_topics (\n    id SERIAL PRIMARY KEY,\n    topic VARCHAR(255) NOT NULL,\n    keywords TEXT, -- JSON array of related keywords\n    priority INTEGER DEFAULT 5, -- 1-10 priority scale\n    is_active BOOLEAN DEFAULT true,\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\nTo update records, just delete and recreate them."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        -420
      ],
      "id": "893752f0-c881-4e22-9694-3b779a4ed3fb",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        260,
        -160
      ],
      "id": "5a1adf20-f724-4738-9406-1c346b35af9e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "NVTCVHVTJAsl0wR7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        -160
      ],
      "id": "1a234709-0fd2-47b9-9d7d-ad3a8f3550a2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KnSSZQEFv82oFpIv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get the RSS feeds that we already have in our database.",
        "operation": "getAll",
        "tableId": "rss_feeds",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        420,
        -160
      ],
      "id": "b2287c7f-c5ab-4cd7-9ed6-ca8e60c6ab4b",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to create a record in the RSS feeds table",
        "tableId": "rss_feeds",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $fromAI('name', ``, 'string') }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $fromAI('url', ``, 'string') }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $fromAI('description', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        560,
        -160
      ],
      "id": "df63ebcc-c37b-4fd5-ba48-3f031a964eac",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "rss_feeds",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        700,
        -160
      ],
      "id": "bf04326b-2de6-47ac-8450-1a1b9377b8a6",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to fetch the RSS feed so you can get the title and description before creating or updating an RSS feed in the database.",
        "url": "={url}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "url",
              "description": "The URL of the RSS feed",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        860,
        -160
      ],
      "id": "2fd860ac-ddf2-4aad-9318-aacefb6c9e77",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get the YouTube channels that we already have in our database.",
        "operation": "getAll",
        "tableId": "youtube_channels",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        420,
        20
      ],
      "id": "6106394c-5450-45b3-bc24-4dfbf6fe71e8",
      "name": "Supabase3",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to create a record in the YouTube channels table",
        "tableId": "youtube_channels",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "channel_name",
              "fieldValue": "={{ $fromAI('channel_name', ``, 'string') }}"
            },
            {
              "fieldId": "channel_url",
              "fieldValue": "={{ $fromAI('channel_url', ``, 'string') }}"
            },
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $fromAI('channel_id', ``, 'string') }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $fromAI('description', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        560,
        20
      ],
      "id": "f155caa5-c4ca-4670-bf9c-3d5d5d530893",
      "name": "Supabase4",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "youtube_channels",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        700,
        20
      ],
      "id": "ac568084-8064-43bb-935a-bcf74040ab84",
      "name": "Supabase5",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get the research topics that we already have in our database.",
        "operation": "getAll",
        "tableId": "research_topics",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        420,
        200
      ],
      "id": "d8f4923b-724f-4a14-a1f7-575479148762",
      "name": "Supabase6",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to create a record in the research topics table",
        "tableId": "research_topics",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "topic",
              "fieldValue": "={{ $fromAI('topic', ``, 'string') }}"
            },
            {
              "fieldId": "keywords",
              "fieldValue": "={{ $fromAI('keywords', ``, 'string') }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $fromAI('priority', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        560,
        200
      ],
      "id": "41f6cfa4-c0a6-4085-a9a5-f47800c22a8a",
      "name": "Supabase7",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "research_topics",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        700,
        200
      ],
      "id": "5f0119eb-bff0-4c8d-b959-ff4233e31f70",
      "name": "Supabase8",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the YouTube channel with Brave to get the description and other info you need.",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q"
            },
            {
              "name": "count",
              "valueProvider": "fieldValue",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "valueProvider": "fieldValue",
              "value": "gzip"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        860,
        20
      ],
      "id": "372a7692-6acc-4d40-af3b-b25513c74e2c",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vM51hriUc9B8cNEv",
          "name": "Brave API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "rss_feeds",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -40,
        500
      ],
      "id": "031b2e2f-aa1f-4531-8425-3c7fb3b6f528",
      "name": "Supabase9",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "youtube_channels",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -40,
        760
      ],
      "id": "b11fdbe4-fadd-4df7-8fec-e6e922b3d3aa",
      "name": "Supabase10",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "research_topics",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -40,
        1000
      ],
      "id": "9758b129-0132-46ed-9186-c36cb8f6085e",
      "name": "Supabase11",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        180,
        500
      ],
      "id": "cf101b35-bc1e-4353-855d-2788ab3c2b2f",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e16c1a7-4976-4f66-94d6-86ed5179cc62",
              "leftValue": "={{ $json.pubDate.toDateTime() }}",
              "rightValue": "={{ $now.minus(7, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        440,
        500
      ],
      "id": "8cc03e18-64c3-4434-a005-28ef781c133a",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "=https://api.search.brave.com/res/v1/summarizer/search?key={{ $json.summarizer.key }}&entity_info=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip"
            }
          ]
        },
        "options": {}
      },
      "id": "dbe07b7b-c215-4df6-9f08-1017cff167aa",
      "name": "Summarize Web Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vM51hriUc9B8cNEv",
          "name": "Brave API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.search.brave.com/res/v1/web/search?q={{ $('Supabase9').item.json.name }}+{{ $json.title }}&summary=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        500
      ],
      "id": "a5a9b132-67b9-45fe-8729-6adddffab006",
      "name": "Brave Web Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vM51hriUc9B8cNEv",
          "name": "Brave API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1620,
        500
      ],
      "id": "afca2c3a-c72f-456b-8e25-72f0cf38a117",
      "name": "Wait",
      "webhookId": "704134f1-637a-4754-acd2-85ea15317e9c"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1180,
        720
      ],
      "id": "be3a1b73-cd24-4ef7-a3db-a086b770cfa8",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KnSSZQEFv82oFpIv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the summary of the current article:\n\n{{ JSON.stringify($json.summary) }}\n\nHere is info from the RSS feed:\n\nTitle: {{ $('RSS Read').item.json.title }}\nLink: {{ $('RSS Read').item.json.link }}\nPublish date: {{ $('RSS Read').item.json.pubDate }}\nSource name: {{ $('Supabase9').item.json.name }}\n\nYour job is to extract the pieces of news from this article - new LLMs, new AI platforms, acquisitions, any kind of something new in the industry.\n\nIf that piece of news is already in the run (all records listed below) just increase the mention count. Otherwise, create a new record in the news_item table for each piece of news found in the article.\n\nGenerally an article will only have one piece of news (since that will be the topic) but also sometimes there might be multiple.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1240,
        500
      ],
      "id": "f7547069-8ca5-42b9-9546-e60abefc32a2",
      "name": "AI Agent1",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('id', ``, 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mention_count",
              "fieldValue": "={{ $fromAI('mention_count', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1640,
        720
      ],
      "id": "9103aeea-5d83-4563-ac14-3b2f19dcd5da",
      "name": "Supabase13",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "tableId": "news_items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "run_date",
              "fieldValue": "={{ $now.toString().split('T')[0] }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $fromAI('title', ``, 'string') }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $fromAI('summary', ``, 'string') }}"
            },
            {
              "fieldId": "relevance_score",
              "fieldValue": "={{ $fromAI('relevance_score_1_to_10', ``, 'string') }}"
            },
            {
              "fieldId": "mention_count",
              "fieldValue": "1"
            },
            {
              "fieldId": "source_type",
              "fieldValue": "RSS Feeds"
            },
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $fromAI('source_url', ``, 'string') }}"
            },
            {
              "fieldId": "source_name",
              "fieldValue": "={{ $fromAI('source_name', ``, 'string') }}"
            },
            {
              "fieldId": "article_url",
              "fieldValue": "={{ $fromAI('article_url', ``, 'string') }}"
            },
            {
              "fieldId": "raw_content",
              "fieldValue": "={{ $fromAI('raw_content', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1480,
        720
      ],
      "id": "f5d0671b-07d3-4147-9c96-f3e04c51ee84",
      "name": "Supabase14",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get the current AI news for the run, do this before adding anything to the DB.",
        "operation": "getAll",
        "tableId": "news_items",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "run_date",
              "condition": "eq",
              "keyValue": "={{ $now.toString().split('T')[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1800,
        720
      ],
      "id": "5641ea79-0c8c-413d-8d34-f23370aba304",
      "name": "Supabase15",
      "credentials": {
        "supabaseApi": {
          "id": "e27gFPB9uME4YIGb",
          "name": "Supabase Prod"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase5": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase6": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase7": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase8": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase10",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase9": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Brave Web Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave Web Search": {
      "main": [
        [
          {
            "node": "Summarize Web Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Web Research": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase13": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase14": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase15": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0638ab55-d2b7-4438-b021-745f7a0baea9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "283ffa8d05f0aea5fd537be52c7be659b3a880d9175d738aa61bb7798a0dea8e"
  },
  "id": "TqsDBqgXKrc34S2q",
  "tags": []
}